<div class="hero is-dark is-darker">
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <h5>October 2018 - April 2020</h5>
                <h3 class="title is-size-2">ILTA</h3>
                <h4 class="subtitle">Angular, Salesforce Development</h4>
            </div>
            <hr>
            <div class="content">
                <h3>Overview</h3>
                <p>I was brought onto the ILTA marketing team in late August of 2018 as a W2 contractor role for an estimated nine months. My initial tasks were to complete a full audit of the company's website infrastructure, coding practices, and assist in implementing auotmated marketing solutions. By December I was offered a full time position as ILTA's sole front end Developer, which I readily accepted. Myself and many other employees had our time with ILTA cut short due to COVID-19 - ILTA's core products and services revolve around in-person events.</p>
                <h3>Tech</h3>
                <p>At ILTA, our website stack was based vendor solutions, namely the HigherLogic CMS and the Personify360 CRM. Both were outdated and riddled with bad UX, SEO inaccessibility, and security flaws.</p>
                <p>My primary goal moving into 2019, with the rest of the IT/Operations team, was to migrate our data from Personify360 into Salesforce and then utilize Salesforce as both CRM and headless CMS. With SF as a headless CMS we would be able to build any front end with any tech stack needed regardless of department. For example, the marketing team may need Wordpress and a visual builder for an event site while operations needed Angular/Cordova for our mobile applications - both would have been compatible with out back end.</p>
                <h4>Languages / Frameworks / Platforms</h4>
                <ul>
                    <li><p>Angular 2+</p></li>
                    <li><p>Apache Cordova</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>Bootstrap</p></li>
                    <li><p>Salesforce</p></li>
                    <li><p>Node.js</p></li>
                    <li><p>Express.js</p></li>
                    <li><p>PHP</p></li>
                    <li><p>mySQL</p></li>
                </ul>
                <h3>Process</h3>
                <p>Starting 2019, ILTA moved into an agile workflow with biweekly sprints organized using the Atlassian Jira platform. I self-assigned myself tickets pertinent to website changes, event website changes, mobile app changes, and Salesforce feature development.</p>
            </div>
            <hr>
            <div class="content">
                <h3>Projects</h3>
                <div class="horizontal-slider">
                    <div class="columns has-text-centered">
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/europe.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTACON Europe</h3>
                                        <p>Event Site</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/iltacon.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTACON</h3>
                                        <p>Event Site</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/iltanet.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTAnet</h3>
                                        <p>Main Site</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/iltavation.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTAVATION</h3>
                                        <p>Event Site</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/mobile01.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTA Mobile - 01</h3>
                                        <p>Mobile Community App</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/mobile02.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTA Mobile - 02</h3>
                                        <p>Mobile Community App</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/mobile03.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTA Mobile - 03</h3>
                                        <p>Mobile Community App</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="assets/img/thumbnails/mobile04.jpg">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h3>ILTA Mobile - 04</h3>
                                        <p>Mobile Community App</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        