<div class="hero is-dark is-darker">
    <div class="hero-body">
        <div class="container">
            <app-return-home></app-return-home>
            <div class="content">
                <h5>October 2018 - April 2020</h5>
                <h3 class="is-size-2">ILTA</h3>
                <h4 class="subtitle">Angular, Salesforce Development</h4>
            </div>
            <hr>
            <div class="content">
                <h3>Overview</h3>
                <p>I was brought onto the ILTA marketing team in late August of 2018 as a W2 contractor for an estimated nine months. My tasks were to complete a full audit of the company's website infrastructure and assist in implementing auotmated marketing solutions. By December I was offered a full time position as a core front end developer, which I readily accepted. Myself and many other employees had our time with ILTA cut short due to COVID-19 being that ILTA's core products and services revolve around in-person events.</p>
                <h3>Tech</h3>
                <p>ILTA's website stack was based on vendor solutions, namely the HigherLogic CMS and the Personify360 CRM. Both were outdated and riddled with bad UX, SEO blockers, inaccessibility, and security flaws.</p>
                <p>The team's primary operational goal moving into 2019 was to migrate our data from Personify360 into Salesforce and then utilize Salesforce as both CRM and headless CMS. With SF as a headless CMS we would be able to build any front end with any tech stack needed regardless of department. For example, the marketing team may need Wordpress and a visual builder for an event site while operations needed Angular/Cordova for our mobile applications and both would have been compatible with our data structure.</p>
                <h4>Languages / Frameworks / Platforms</h4>
                <ul>
                    <li><p>Angular 2+</p></li>
                    <li><p>Apache Cordova</p></li>
                    <li><p>Bootstrap</p></li>
                    <li><p>Express.js</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>mySQL</p></li>
                    <li><p>Node.js</p></li>
                    <li><p>PHP</p></li>
                    <li><p>Salesforce</p></li>
                </ul>
                <h3>Process</h3>
                <p>Starting 2019, ILTA moved into an agile workflow with biweekly sprints utilizing the Atlassian Jira platform. I self-assigned myself tickets pertinent to website changes, event website changes, mobile app changes, and Salesforce feature development.</p>
            </div>
            <hr class="is-hidden-mobile">
            <div class="content is-hidden-mobile">
                <h3>Projects</h3>
                <div class="horizontal-slider">
                    <div class="columns has-text-centered">
                        <div class="column is-one-fifth-widescreen is-one-fourth-desktop is-one-third-tablet"
                        *ngFor="let project of projects; let i = index">
                            <div class="card">
                                <a (click)="toggleModal(i)">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img lazyLoad="/assets/img/thumbnails/{{project.imgUrl}}">
                                        </figure>
                                    </div>
                                </a>
                                    <div class="card-content">
                                        <div class="content">
                                            <h3>{{project.title}}</h3>
                                            <p>{{project.subtitle}}</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal" id="{{'modal' + i}}">
                                <div class="modal-background" (click)="toggleModal(i)"></div>
                                <div class="modal-content">
                                    <img lazyLoad="/assets/img/fullres/{{project.imgUrl}}">
                                </div>
                                <button class="modal-close is-large" aria-label="close" (click)="toggleModal(i)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        