<div class="hero is-dark is-darker">
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <h5>October 2018 - April 2020</h5>
                <h3 class="title is-size-2">ILTA</h3>
                <h4 class="subtitle">Angular, Salesforce Development</h4>
            </div>
            <hr>
            <div class="content">
                <h3>Overview</h3>
                <p>Praesent vitae dolor vestibulum quam condimentum cursus. Sed a fermentum metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque nec convallis purus, at iaculis lectus. Maecenas ut magna tempor, finibus mi vehicula, suscipit leo. Mauris ex erat, vehicula et ex commodo, luctus lacinia nulla. Praesent in tincidunt lorem, eu congue ex. Proin iaculis est massa, a consectetur quam scelerisque et.</p>
                <h3>Tech</h3>
                <p>Phasellus tincidunt tincidunt leo quis malesuada. Etiam nec libero lectus. Duis elementum ex eu nisi lacinia consequat. Maecenas sit amet dui tellus. Nulla eu augue ac velit convallis dignissim. Fusce eleifend fermentum risus, ut bibendum mauris porttitor sit amet. Etiam eget urna nec magna egestas volutpat. Donec vitae justo a est egestas faucibus ut a ante. Nunc varius non nunc id convallis.</p>
                <ul>
                    <li><p>Angular 2+</p></li>
                    <li><p>Apache Cordova</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>Bootstrap</p></li>
                    <li><p>Salesforce</p></li>
                    <li><p>Node.js</p></li>
                    <li><p>Express.js</p></li>
                </ul>
                <h3>Process</h3>
                <p>Morbi interdum efficitur felis id gravida. Sed sagittis luctus erat, ac ornare lacus lobortis eget. Sed facilisis leo quis condimentum dictum. Curabitur tempor viverra leo, eget sagittis dui consequat et. Nullam varius tristique nulla, eu auctor nunc consequat cursus.</p>
                <p>Vestibulum porta ligula vel magna sodales auctor. Curabitur maximus vitae enim nec malesuada. Vestibulum diam tortor, pellentesque ut vestibulum vulputate, aliquam vitae lorem. Vestibulum ultrices eget elit vel gravida. Ut tempor viverra urna, gravida consequat velit suscipit eu.</p>
            </div>
            <hr>
            <div class="content">
                <h3>Projects</h3>
            </div>
        </div>
    </div>
</div>
        