<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-variable is-8-desktop level has-text-centered-mobile">
                <div class="column">
                    <h1 class="is-size-1">Bruno Sala</h1>
                    <h2 class="is-size-4">Full Stack Developer</h2>
                    <hr>
                    <div class="content">
                        <p>I’m a Full Stack Developer based out of Chicago, IL with core competencies in the MEAN and LAMP stacks. I’ve worked with a wide variety of clients from countries all over the world. My goal is to deliver high quality, bold products to my clients – all while having a bit of fun creating them.</p>
                    </div>
                    <div class="content">
                        <app-social-icons></app-social-icons>
                    </div>
                    <div class="content buttons">
                        <button (click)="openResume()" class="button is-primary"><i class="material-icons">description</i> View Resume</button>
                        <button (click)="openCV()" class="button"><i class="material-icons">hourglass_full</i> View CV</button>
                    </div>
                </div>
                <div class="column">
                    <img src="assets/img/uhm-t.svg">
                </div>
            </div>
        </div>
    </div>
</section>