.social-icons img {
    width: 3em;
    margin: 0 1em 0 0;

    filter: invert(66%);
    opacity: .75;
    transition: all .2s ease-in-out;
}

.social-icons img:hover {
    opacity: 1;
}

h1 {
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #74b4ca;
}

.button.is-primary {
    background-color: #C34A2B;
    color: #fff;
}

hr {
    background-color: transparent;
}