.box {
    padding: 0;
    line-height: 0;
    transition: .2s all ease-in-out;
    background-color: #3F3D56;
}

.box a {
    display: block;
}

.box .content {
    padding: 20px 20px;
    box-shadow: 0 1px 5px inset rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.hero.is-dark .title, .hero.is-dark .subtitle {
    color: #D0CDE1;
}

.box img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    filter: brightness(90%) saturate(125%);
}

.box .title, .box .subtitle {
    margin: 0;
}

.box:hover {
    transform: translateY(-2.5%);
}

.case-study .subtitle {
    font-size: 1.25rem;
    font-weight: 100;
}

.portfolio-item .title {
    font-size: 1.25rem;
}

.portfolio-item .subtitle {
    font-size: 1rem;
}

@media(max-width: 768px) {
    .columns .column:nth-child(1n+6) {
        display: none;
    }
}
