@import url('https://jenil.github.io/bulmaswatch/materia/bulmaswatch.min.css');

::selection { background: #f9b543; }
::-moz-selection { background: #f9b543 }

html, body {
    background-color: #1E1E1E;
}

main router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero.is-dark {
    background-color: #252526;
}

.hero.is-dark.is-darker {
    background-color: transparent;
}

.subtitle {
    font-weight: 100 !important;
}

.content .title, .content .subtitle {
    margin: 0;
}
.content h5 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
}

.is-pulled-right-mobile {
    float: right;
}

@media(max-width: 768px) {
    .content h3.is-size-2 {
        margin-top: 0;
        margin-bottom: .8888rem;
    }

    .has-text-centered-mobile .button {
        margin: 0 auto;
    }

    .is-pulled-right-mobile {
        float: none;
    }

    .is-pulled-right-mobile.button {
        margin-bottom: 2em;
    }
}
